<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here you can edit details of question number {{ question.id }}</title>

    <!-- will not work - static assets must be managed -->
    <link type="text/css" rel='stylesheet' href="/styles.css" />


</head>
<body>
    <section>
        <h3>Editing {{ question.question_text }}</h3>
        <!-- handle problems here -->
        {% if error_message %}
        <aside>{{error_message}}</aside>
        {% endif %}

        <p>{{question.id}} {{question.pub_date}}</p>
        <form action="{% url 'polls:vote' question.id %}" method='POST'>
            <!-- we MUST provide security -->
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <input type='radio' name='choice' id='choice{{forloop.counter}}'
                        value='{{choice.id}}' />
                <label for='choice{{forloop.counter}}'> {{choice.choice_text}}  </label>
                <br/>
            {% endfor %}
            <button>Go</button>
        </form>
    </section>
    </body>
</html>